<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Sistema de Control Escolar para Cursos y Diplomados</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="img/favicon.ico">
    
    <!-- Styles -->
    <link href="/css/lib/select2/select2.min.css" rel="stylesheet">
    <link href="/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/css/lib/helper.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div th:replace="/includes/head.html :: head_div1" />
<div th:replace="/includes/head.html :: head_div2" />

<!-- START CONTENTS -->
	<div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
	                                <h1>Registrar un curso</h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Registrar un curso</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-validation">
                                    
                                        <form class="form-valide" th:action="@{/AdministracionCursos/registrarCursos}" method="GET">
                                        
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="val-clave">Clave <span class="text-danger">*</span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" id="val-clave" name="clave" placeholder="Ejemplo: A001" required>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="val-tipo">Selecciona un tipo <span class="text-danger">*</span></label>
                                                <div class="col-lg-8">
                                                    <select class="js-select2 form-control" id="val-tipo" name="tipo" style="width: 100%;" data-placeholder="Selecciona el tipo del curso" required>
                                                        <option value="curso">Curso</option>
                                                        <option value="diplomado">Diplomado</option>
                                                        <option value="especialidad">Especialidad</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="val-horas">Horas <span class="text-danger">*</span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" id="val-horas" name="horas" placeholder="Ingrese las horas de duracion" required>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="val-nombre">Nombre <span class="text-danger">*</span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" id="val-nombre" name="nombre" placeholder="Agregue el nombre del curso" required>
                                                </div>
                                            </div>
                                            
                                            <!-- Consultar ?
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="val-inicio">Fecha de inicio <span class="text-danger">*</span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" id="val-inicio" name="f_inicio" placeholder="Agregue fecha de inicio" required>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="val-termino">Fecha de termino <span class="text-danger">*</span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" id="val-termino" name="f_termino" placeholder="Agregue fecha de termino" required>
                                                </div>
                                            </div> -->
                                            
                                            <button type="submit" class="btn btn-default"> Capturar</button>
                                    </form>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
<!-- END CONTENTS -->

    <!-- jquery vendor -->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="/js/lib/menubar/sidebar.js"></script>
    <script src="/js/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->
    <!-- bootstrap -->
    <!-- Select2 -->
    <script src="/js/lib/select2/select2.full.min.js"></script>
    <script src="/js/lib/form-validation/jquery.validate.min.js"></script>
    <script src="/js/lib/form-validation/jquery.validate-init.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>