.btn-query:after {
	font-family: "Glyphicons Halflings";
	content: "\e113";
	margin-left: 15px;
}

.btn-query.collapsed:after {
	content: "\e114";
}

#btn-limpiar {
	float: left;
}

#btn-consultar {
	float: right;
}