<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/pass.css">
<title>Configuracion de contraseña</title>

	<style>
		.button {
			background-color: #4CAF50; /* Green */
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
		}
	</style>
</head>

<body>

<br><br><br><br>

<h1><span>Configura tu contrase&ntilde;a</span></h1>
<form id="myform" method="post" th:action="@{/activacion}" accept-charset="utf-8">

	<input id="myPassword" type="password" name="contrasena"  value="" data-toggle="tooltip" data-placement="bottom"
		   title="Almenos 8 caracteres
                1 Letra Mayuscula
                1 Letra Minuscula
                1 Numero" required>
	<br><br><br><br>
	<button type="submit" class="button">Enviar</button>

</form>








</body>

<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="/js/strength.js"></script>

<script th:inline="javascript">

	/*<![CDATA[*/

	var ida = [[${id}]];
	var codigo = [[${codigo}]];
	/*]]>*/
	let form = document.getElementById("myform");
	let idi = document.createElement("input"); // Crea un elemento input
	with (idi) {
		setAttribute("id", "id");
		setAttribute("name", "id");
		setAttribute("type", "hidden");
		setAttribute("value", ida);
	}
	form.appendChild(idi);

	let codigoi = document.createElement("input");
	with (codigoi) {
		setAttribute("id", "codigo");
		setAttribute("name", "codigo");
		setAttribute("type", "hidden");
		setAttribute("value", codigo);
	}
	form.appendChild(codigoi);
</script>

<script>

	$(document).ready(function ($) {

		$('#myPassword').strength({
			strengthClass: 'strength',
			strengthMeterClass: 'strength_meter',
			strengthButtonClass: 'button_strength',
			strengthButtonText: 'Show Password',
			strengthButtonTextToggle: 'Hide Password'
		});

	});

</script>


</html>