<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<title>Sistema de Control Escolar para Cursos y Diplomados</title>

<!-- ================= Favicon ================== -->
<!-- Standard -->
<link rel="shortcut icon" href="img/favicon.ico">

<!-- Styles -->
<link href="css/lib/select2/select2.min.css" rel="stylesheet">
<link href="css/lib/font-awesome.min.css" rel="stylesheet">
<link href="css/lib/themify-icons.css" rel="stylesheet">
<link href="css/lib/menubar/sidebar.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/lib/helper.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/bootstrap-table.css" rel="stylesheet">
</head>
<body>
	<div th:replace="/includes/head.html :: head_div1"></div> 
	<div th:replace="/includes/head.html :: head_divBatch"></div>
  <!-- Modal -->
  <div class="modal fade" id="modalPrueba" tabindex="-1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
      	<form class="form-horizontal" method="post" th:action="@{/consultarGrupo}" enctype="multipart/form-data">
      		<div class="modal-header">
	          <h4 class="modal-title">Cargar Archivo</h4>
	        </div>
	        <div class="modal-body">
	          <p>Buscar Archivo</p>
	          <input type="file" name="file" id="fileupload"  size="40" value="fileupload" required="required"/>
	        </div>
	        <div class="modal-footer">
	          <button type="submit" class="btn btn-default">Aceptar</button>
	          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	        </div>
      	</form>
      </div>
      
    </div>
  </div>
  
 
	<div class="content-wrap">
		<div class="container-fluid">
			<section>
				<div class="row">
					<div class="col-lg-4">
						<h1>Carga de Grupos</h1>
						<div class="card">
<!-- 							<form action="/jobGrupo" method="get"> -->
								<fieldset>
									<legend>Carga Batch</legend>
									<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#modalPrueba">Cargar Archivo</button>
<!-- 									<button type="submit" class="btn btn-default btn-lg">Enviar</button> -->
								</fieldset>
<!-- 							</form> -->
						</div>
					</div>
				</div>		
			</section>
			<section>
				<div class="row">
					<div class="col-lg-12">
						<h1>Grupos registrados</h1>
						<div class="card">
							<div class="table-responsive">
								<ul class="nav nav-tabs">
								    <li><a th:href="@{/consultarProfesor}">Profesores</a></li>
									<li><a th:href="@{/consultarCursos}">Cursos</a></li>
									<li class="active"><a th:href="@{/consultarGrupo}">Grupos</a></li>
									<li><a th:href="@{/consultarInscripcionBatch}">Inscripci&oacute;n</a></li>
								  </ul>
								<table class="table table-striped table-bordered" id="tablaGrupo">
									<thead>
										<tr>
											<th data-field="idGrupo">ID</th>
											<th data-field="clave">CLAVE</th>
										</tr>
									</thead>
								</table>
							</div>
							<button type="button" class="btn btn-default btn-lg ml-auto" onclick="btnLimpiar2()">Limpiar</button>
						</div>
					</div>
				</div> 
			</section>
			<section>
				<div class="row">
					<div class="col-lg-12">
						<h1>Registros incorrectos</h1>
						<div class="card">
							<div class="table-responsive">
								<table class="table table-striped table-bordered" id="tablaErrores">
									<thead>
										<tr>
											<th data-field="cdMensaje">DESCRIPCION</th>
										</tr>
									</thead>
								</table>
							</div>
							<button type="button" class="btn btn-default btn-lg ml-auto" onclick="btnLimpiar()">Limpiar</button>
						</div>
					</div>
				</div> 
			</section>
		</div>
	</div>
<script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/jquery.nanoscroller.min.js"></script>
	<!-- nano scroller -->
	<script src="js/lib/menubar/sidebar.js"></script>
	<script src="js/lib/preloader/pace.min.js"></script>
	<!-- sidebar -->
	<!-- bootstrap -->
	<script src="js/lib/bootstrap.min.js"></script>
	<script src="js/scripts.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="js/bootstrap-table.min.js"></script>
<!-- Latest compiled and minified Locales -->
<script src="js/bootstrap-table-zh-CN.min.js"></script>
<script src="js/consultarGrupo.js"></script>
</body>
</html>