<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
 

<title>Sistema de Control Escolar para Cursos y Diplomados</title>

<!-- ================= Favicon ================== -->
<!-- Standard -->
<link rel="shortcut icon" href="img/favicon.ico">

<!-- Styles -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link href="css/lib/select2/select2.min.css" rel="stylesheet">
<link href="css/lib/font-awesome.min.css" rel="stylesheet">
<link href="css/lib/themify-icons.css" rel="stylesheet">
<link href="css/lib/menubar/sidebar.css" rel="stylesheet">
<link href="css/lib/bootstrap.min.css" rel="stylesheet">
<link href="css/lib/helper.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/fileinput.css" rel="stylesheet">
<style type="text/css" media="screen">
/* 	#spinner{ */
/* 		position: fixed; */
/* 		top: 50%; */
/* 		left: 50%; */
/* 	} */
	
	.pace-running #loader {
	  	border: 16px solid #f3f3f3;
	  	border-radius: 50%;
	  	border-top: 16px solid #3498db;
	  	width: 120px;
	  	height: 120px;
	  	-webkit-animation: spin 2s linear infinite; /* Safari */
	  	animation: spin 2s linear infinite;
	  	position: fixed;
		top: 50%;
		left: 50%;
	}

	/* Safari */
	@-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg); }
	  	100% { -webkit-transform: rotate(360deg); }
	}
	
	@keyframes spin {
	  	0% { transform: rotate(0deg); }
	  	100% { transform: rotate(360deg); }
	}
</style>
</head>
<body>
	<div id="loader" >
<!-- 		<div class="loader"></div> -->
	</div>
	<div th:replace="/includes/head.html :: head_div1"></div> 
	<div th:replace="/includes/head.html :: head_divBatch"></div>
  <!-- Modal -->
  <div class="modal fade" id="modalPrueba" tabindex="-1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Cargar Archivo</h4>
        </div>
        <div class="modal-body">
        	  <form class="form-horizontal" method="post" th:action="@{/import/file/grupo}" enctype="multipart/form-data">

					<div class="form-group ">
						<p>
							<label for="fileupload" class="cols-sm-2 control-label">Convertir
								Excel a CSV:</label> <br /> <br />
								<!-- <input type="file" th:value="${attachment.file}" name="file" id="fileupload"  size="40" value="fileupload" required="required"/>-->
								<input type="file" name="file" id="fileupload"  size="40" value="fileupload" required="required"/>
						</p>
					</div>
					<button type="submit" class="btn btn-default">Aceptar</button>
         			<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</form>
        </div>
        <div class="modal-footer">
          <button onclick="JSalert()">Boton S</button>
		  <button onclick="JSalert2()">Boton A</button>
        </div>
      </div>
      
    </div>
  </div>

	<div class="content-wrap">
		<div class="container-fluid">
			<section>
				<div class="row">
					<div class="col-sm-12">
						<form enctype="multipart/form-data" id="form-data">
							<input type="file" id="archivo" />
						</form>
						<button class="btn btn-info btn-lg" onclick="btnAjax();">Button Ajax</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<h1>Prueba</h1>
						<div class="card">
							<form action="/runjob" method="get">
								<fieldset>
									<legend>Carga Batch Prueba</legend>
									<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalPrueba">Cargar Archivo</button>
									<button type="submit" class="btn btn-default">Enviar</button>
								</fieldset>
							</form>
							<button onclick="alerta()">Boton 1</button>
							<button onclick="esconder()">Boton 2</button>
						</div>
					</div>
				</div>		
			</section>
			<section>
				<div class="row">
					<div class="col-lg-12">
						<h1>Prueba</h1>
						<div class="card">
							<div>
								
									
							</div>
							<div class="table-responsive">
								<ul class="nav nav-tabs">
								    <li><a th:href="@{/consultarProfesor}">Profesores</a></li>
									<li><a th:href="@{/consultarCursos}">Cursos</a></li>
									<li class="active"><a th:href="@{/consultarGrupo}">Grupos</a></li>
								  </ul>
								<table class="table table-striped table-bordered" id="tablaPrueba">
									<thead>
												<tr>
													<th>pk_id_grupo</th>
													<th>fk_id_curso</th>
													<th>clave</th>
													<th>fecha_inicio</th>
													<th>fecha_fin</th>
												</tr>
											</thead>
											<tbody>
												<tr data-th-each="grupo : ${grupos}">
													<td data-th-text="${grupo.pk_id_grupo}">Text ...</td>
													<td data-th-text="${grupo.fk_id_curso}">Text ...</td>
													<td data-th-text="${grupo.clave}">Text ...</td>
													<td data-th-text="${grupo.fecha_inicio}">Text ...</td>
													<td data-th-text="${grupo.fecha_fin}">Text ...</td>
												</tr>
											</tbody>
								</table>
							</div>
						</div>
					</div>
				</div> 
			</section>
		</div>
	</div>
	<script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/jquery.nanoscroller.min.js"></script>
	<!-- nano scroller -->
	<script src="js/lib/menubar/sidebar.js"></script>
	<script src="js/lib/preloader/pace.min.js"></script>
	<!-- sidebar -->
	<!-- bootstrap -->
	<script src="js/lib/bootstrap.min.js"></script>
	<script src="js/scripts.js"></script>
	<script src="../js/fileinput.js"></script>
	<script src="js/main.js"></script>
	<script type="text/javascript">
		function validateForm(){
			var archivo = document.forms["myForm"]["archivo"].value;
		
			if (archivo.length<1) {
				
		        document.getElementById('error-archivo').innerHTML = JSalert();
		    } else{
		    	swal("Congrats!", ", Your account is created!", "success");
		    }      
		    if(archivo.length<1){
		       	return false;
		    }            
		}
		
	</script>
	<script type="text/javascript">
		(function($, window, document){
			$('#archivo').fileinput({
				showCaption:true
			});
			
			
		}(window.jQuery, window, document));
	
		function alerta(){
			$('#loader').show();
		}
		
		function esconder(){
			$('#loader').hide();
		}
		
		function JSalert(){
			swal("Completado!", " La información fue procesada correctamente!", "success");
			alerta();
		}
		
		function JSalert2(){
			swal({
				  title: "Error",
				  text: "Ocurrió un error mientras se procesaba la información!",
				  icon: "warning"
				});
		}
		
		function btnAjax() {
			var uploadObject = $("#archivo");
			var file = uploadObject[0].files[0];
			console.log(file);
			if(file != undefined && file != null){
				var formData = new FormData();
				formData.append('file', file);			
				$('#archivo').fileinput('reset');
				$.ajax({
					url : "http://localhost:8080/rest/ejemploService/leerExcel",
					type : "POST",
					data: formData,
					enctype: 'multipart/form-data',
					contentType: false,
					processData: false,
					cache: false,
					async: false
				}).done(function(data) {
					console.log(data)
				});
			} else {
				console.log("Seleccione un excel puto");
			}
		}
		
	</script>
</body>
</html>