<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Modificar Participante</title>

<!-- ================= Favicon ================== -->
<!-- Standard -->
<link rel="shortcut icon" href="js/favicon.ico">

<!-- Styles -->
<link href="/css/lib/select2/select2.min.css" rel="stylesheet">
<link href="/css/lib/font-awesome.min.css" rel="stylesheet">
<link href="/css/lib/themify-icons.css" rel="stylesheet">
<link href="/css/lib/menubar/sidebar.css" rel="stylesheet">
<link href="/css/lib/bootstrap.min.css" rel="stylesheet">
<link href="/css/lib/helper.css" rel="stylesheet">
<link href="/css/lib/toggle.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<style type="text/css">
#spin {
	visibility: hidden;
}
#mensaje {
	visibility: hidden;
}
</style>

</head>
<body>
	<div th:replace="/includes/head.html :: head_div1" />
	<div th:replace="/includes/head.html :: head_div2" />

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<div class="d-flex align-items-center" id="proceso">
							<h4 id="mensaje">algo</h4>
						<div id="spin">
							<strong>Haciendo los cambios respectivos... &nbsp;</strong>
							<div class="spinner-grow text-info" role="status"
								aria-hidden="true"></div>
						</div>
					</div>
				</div>
				<div class="modal-body">Selecciona una accion</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" id="limpiar">Hacer otro cambio</button>
					<button type="button" class="btn btn-primary"
						onclick="window.location.href ='/start'" id = "volver">Volver
						a inicio</button>
					<button type="button" class="btn btn-secondary"
					data-dismiss="modal" id="revisar">Revisar Formulario</button>
				</div>
			</div>
		</div>
	</div>

	<!--     Fin de modal                 -->




	<!-- START CONTENTS -->
	<div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Modificar participante</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-validation">
                                        <form class="form-valide" action="@{/AdministracionRegistroManual/registrarParticipante}" method="POST"
                                        id= "registrarprofesor" enctype="multipart/form-data">
                                        
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="apellidopaterno">Apellido paterno<span class="text-danger">*</span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" id="apellidopaterno" name="apellidopaterno" th:value="${profesor.aPaterno}" maxlength = "250" required>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="apellidomaterno">Apellido materno<span class="text-danger"></span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" id="apellidomaterno" name="apellidomaterno" th:value="${profesor.aMaterno}" maxlength = "250">
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="nombre">Nombre(s)<span class="text-danger">*</span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" id="nombre" name="nombre" th:value="${profesor.nombres}" maxlength = "250" required>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="nac">Fecha de nacimiento <span class="text-danger"></span></label>
                                                <div class="col-lg-8">
                                                    <input type="date" class="form-control" id="nac" name="nac" th:value="${profesor.fNacimiento}" onkeydown="return false">
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="curp">CURP<span class="text-danger"></span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" id="curp" name="curp" th:value="${profesor.curp}" maxlength = "18">
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="rfc">RFC <span class="text-danger">*</span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" id="rfc" name="rfc" th:value="${profesor.rfc}" maxlength = "13" required>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="correo">Correo electronico<span class="text-danger"></span></label>
                                                <div class="col-lg-8">
                                                    <input type="email" class="form-control" id="correo" name="correo" th:value="${profesor.correo}" maxlength = "200">
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="tel">Telefono<span class="text-danger"></span></label>
                                                <div class="col-lg-8">
                                                    <input type="tel" class="form-control" id="tel" name="tel" th:value="${profesor.telefono}">
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="estado">Estado <span class="text-danger"></span></label>
                                                <div class="col-lg-8">
                                                    <select class="js-select2 form-control" id="estado" name="estado" style="width: 100%;" required>
                                                    	<option th:value="${profesor.estado}" th:text ="${profesor.nombreEstado}" >Estado definido</option>
                                                    	<option value="34">No definido</option>
                                                        <option value="1">Aguascalientes</option>
														<option value="2">Baja California</option>
														<option value="3">Baja California Sur</option>
														<option value="4">Campeche</option>
														<option value="5">Ciudad de México</option>
														<option value="6">Coahuila</option>
														<option value="7">Colima</option>
														<option value="8">Chiapas</option>
														<option value="9">Chihuahua</option>
														<option value="10">Durango</option>
														<option value="11">Estado de México</option>
														<option value="12">Guanajuato</option>
														<option value="13">Guerrero</option>
														<option value="14">Hidalgo</option>
														<option value="15">Jalisco</option>
														<option value="16">Michoacán</option>
														<option value="17">Morelos</option>
														<option value="18">Nayarit</option>
														<option value="19">Nuevo León</option>
														<option value="20">Oaxaca</option>
														<option value="21">Puebla</option>
														<option value="22">Querétaro</option>
														<option value="23">Quintana Roo</option>
														<option value="24">San Luis Potosí</option>
														<option value="25">Sinaloa</option>
														<option value="26">Sonora</option>
														<option value="27">Tabasco</option>
														<option value="28">Tamaulipas</option>
														<option value="29">Tlaxcala</option>
														<option value="30">Veracruz</option>
														<option value="31">Yucatán</option>
														<option value="32">Zacatecas</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="cilo">Ciudad o localidad<span class="text-danger"></span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" id="cilo" name="cilo" th:value="${profesor.cilo}" maxlength = "250">
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="plantel">Plantel<span class="text-danger"></span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" id="plantel" name="plantel" th:value="${profesor.plantel}" maxlength = "250">
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="turno">Selecciona turno <span class="text-danger"></span></label>
                                                <div class="col-lg-8">
                                                    <select class="js-select2 form-control" id="turno" name="turno" style="width: 100%;" required>
                                                        <option th:value="${profesor.turno}" th:text = "${profesor.nombreTurno}">Turno definido</option>
                                                        <option value="1">Matutino</option>
                                                        <option value="2">Vespertino</option>
                                                        <option value="3">Completo</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="cplantel">Clave plantel<span class="text-danger"></span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" id="cplantel" name="cplantel" th:value="${profesor.cPlantel}" maxlength = "20">
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="grado">Ultimo grado de estudios <span class="text-danger"></span></label>
                                                <div class="col-lg-8">
                                                    <select class="js-select2 form-control" id="grado" name="grado" style="width: 100%;" required>
                                                        <option th:value="${profesor.grado}" th:text = "${profesor.nombreGrado}" >Grado definido</option>
                                                        <option value="1">Lic.</option>
                                                        <option value="2">Esp.</option>
                                                        <option value="3">Mtr.</option>
                                                        <option value="4">Doc.</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="ocupacion">Ocupacion<span class="text-danger"></span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" id="ocupacion" name="ocupacion" th:value="${profesor.ocupacion}" maxlength = "250">
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="comprobante">Comprobante de domicilio en pdf<span class="text-danger"></span></label>
                                                <div class="col-lg-8">
                                                    <input type="file" name="comprobante" accept="application/pdf" id="comprobante" th:text="${profesor.comprobante_doc}"/>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="rfcpdf">RFC en pdf<span class="text-danger"></span></label>
                                                <div class="col-lg-8">
                                                    <input type="file" name="rfcpdf" accept="application/pdf" id="rfcpdf" th:text="${profesor.rfc_doc}"/>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="curppdf">CURP en pdf<span class="text-danger"></span></label>
                                                <div class="col-lg-8">
                                                    <input type="file" name="curppdf" accept="application/pdf" id="curppdf" th:text = "${profesor.curp_doc}"/>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
        										<div class="col-sm-5 col-sm-offset-3">
		                                           <button type="submit" class="btn btn-default"
		                                           data-toggle="modal" data-target="#exampleModal">Realizar Cambios</button>
                                             	</div>
    										</div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
<!-- END CONTENTS -->

	<!-- jquery vendor -->


	<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/jquery.nanoscroller.min.js"></script>
	<!-- nano scroller -->
	<script src="/js/lib/menubar/sidebar.js"></script>
	<script src="/js/lib/preloader/pace.min.js"></script>
	<!-- sidebar -->
	<!-- bootstrap -->
	<!-- Select2 -->
	<script src="/js/lib/select2/select2.full.min.js"></script>
	<!-- 	<script src="/js/lib/form-validation/jquery.validate-init.js"></script> -->
	<script src="/js/lib/bootstrap.min.js"></script>
	<script src="/js/scripts.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>

	<script th:inline="javascript">
$(document).ready(function() {
	
			let idu = [[${profesor.idProfesor}]];
		
			//cambio de correo
			let cor=$("#correo").val();
			$("#correo").blur(function(){
			    cor=$("#correo").val();
			    
			});
	
			$.fn.bootstrapValidator.validators.nombre = {
			        validate: function(validator, $field, options) {
			            var value = $field.val();

			            if (value.search(/[ A-ZäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ.-][a-zA-Z][^#&<>°¬|""~;$^%{}?/*(0-9)@!.,:¡¿=''_\+\-\\]{1,20}$/) < 0) {
			                return false;
			            }

			            return true;
			        }
			};
			
			$.fn.bootstrapValidator.validators.amaterno = {
			        validate: function(validator, $field, options) {
			            var value = $field.val();

			            if($('#apellidomaterno').val().length > 0){
				            if (value.search(/[ A-ZäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ.-][a-zA-Z][^#&<>°¬|""~;$^%{}?/*(0-9)@!.,:¡¿=''_\+\-\\]{1,20}$/) < 0) {
				                return false;
				            }
			            }

			            return true;
			        }
			};
			
			$.fn.bootstrapValidator.validators.cilo = {
			        validate: function(validator, $field, options) {
			            var value = $field.val();

			            if($('#cilo').val().length > 0){
				            if (value.search(/[ A-ZäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ.-][a-zA-Z][^#&<>°¬|""~;$^%{}?/*(0-9)()@!:¡¿=''_\+\-\\]{1,20}$/) < 0) {
				                return false;
				            }
			            }

			            return true;
			        }
			};
			
			$.fn.bootstrapValidator.validators.ocupacion = {
			        validate: function(validator, $field, options) {
			            var value = $field.val();

			            if($('#ocupacion').val().length > 0){
				            if (value.search(/[a-zA-Z][^#&<>°¬|""~;$^%{}?()/*(0-9)@!.,:¡¿=''_\+\-\\]{1,20}$/) < 0) {
				                return false;
				            }
			            }

			            return true;
			        }
			};
			
			$.fn.bootstrapValidator.validators.plantel = {
			        validate: function(validator, $field, options) {
			            var value = $field.val();

			            if($('#plantel').val().length > 0){
				            if (value.search(/[ A-ZäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ.-][a-zA-Z][^#&<>°¬|""~;$^%{}?()/*@!¡¿=''_\+\-\\]{1,20}$/) < 0) {
				                return false;
				            }
			            }

			            return true;
			        }
			};
			
			$.fn.bootstrapValidator.validators.cplantel = {
			        validate: function(validator, $field, options) {
			            var value = $field.val();

			            if($('#cplantel').val().length > 0){
				            if (value.search(/[^#&<>°¬|""~;$^%{}?()/*@!¡¿=''_\+\-\\]{1,20}$/) < 0) {
				                return false;
				            }
			            }

			            return true;
			        }
			};
			
			$.fn.bootstrapValidator.validators.fecha = {
			        validate: function(validator, $field, options) {
			            var value = $field.val();
			            var hoy = new Date();
			            
			            var varFecha = new Date(value);
		            			            
			            hoy.setHours(0,0,0,0);
						
			            if($('#nac').val().length > 0){
			  
				            if (varFecha >= hoy) {
				                return false;
				            }
				            
			            }

			            return true;
			        }
			};
			
			$.fn.bootstrapValidator.validators.curp = {
			        validate: function(validator, $field, options) {
			            var value = $field.val();
			            
						
			            if($('#curp').val().length > 0){
			            	if(value.includes("No definido")){
			            		return true;
			            	} else {
				            	if (value.search(/^[A-Z]{1}[AEIOU]{1}[A-Z]{2}[0-9]{2}(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])[HM]{1}(AS|BC|BS|CC|CS|CH|CL|CM|DF|DG|GT|GR|HG|JC|MC|MN|MS|NT|NL|OC|PL|QT|QR|SP|SL|SR|TC|TS|TL|VZ|YN|ZS|NE)[B-DF-HJ-NP-TV-Z]{3}[0-9A-Z]{1}[0-9]{1}$/) < 0) {
				                	return false;
				            	}
			            	}
			            }

			            return true;
			        }
			};
			
			$.fn.bootstrapValidator.validators.rfc = {
			        validate: function(validator, $field, options) {
			            var value = $field.val();

			            if (value.search(/^([A-Z\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1]))((-)?([A-Z\d]{3}))?$/) < 0) {
			                return false;
			            }

			            return true;
			        }
			};
			
			$.fn.bootstrapValidator.validators.telefono = {
			        validate: function(validator, $field, options) {
			            var value = $field.val();
						
			            if($('#tel').val().length > 0){
				            if (value.length != 10) {
				                return false;
				            }
			            }

			            return true;
			        }
			};
			
			$('#registrarprofesor').bootstrapValidator({
		        feedbackIcons: {
		            valid: 'glyphicon glyphicon-ok',
		            invalid: 'glyphicon glyphicon-remove',
		            validating: 'glyphicon glyphicon-refresh'
		        },
		        fields: {
		        	apellidopaterno: {
		                validators: {
		                    notEmpty: {
		                        message: ' No puede estar vacio '
		                    },
		        
		        			nombre: {
		        				message: ' Verfica que sea un apellido valido '
		        			}
		                }
		            },
		            
		            apellidomaterno: {
		                validators: {
		        			amaterno: {
		        				message: ' Verfica que sea un apellido valido '
		        			}
		                }
		            },
		        	
		        	nombre : {
		        		validators: {
		        			notEmpty: {
		                        message: ' El nombre no puede estar vacio '
		                    },
		                    
		                    nombre: {
		                    	message: ' Verifica que sea un nombre valido '
		                    }
		        		}
		        	},
		        	
		        	curp : {
		        		validators: {
		                    curp: {
		                    	message: ' Verifica que sea valido el CURP (Este en mayusculas.)'
		                    }
		        		}
		        	},
		        	
		        	rfc : {
		        		validators: {
		        			rfc: {
		                        message: ' Verifica que el rfc sea correcto (En mayusculas, de 13 caracteres.)'
		                    },
		        	
		                    notEmpty: {
		                        message: ' El rfc no puede ir vacia '
		                    }
		        	
		        		}
		        	},
		        	
		        	tel : {
		        		validators: {
		        			digits: {
		                        message: ' Utiliza solo numeros '
		                    },
		        	
		        			telefono: {
		        				message: ' Verifica que la longitud sea de 10 numeros '
		        			}
		        	
		        		}
		        	}, 
		        	
		        	cilo : {
		        		validators : {
		        			cilo: {
		        				message : 'Verifica que sea un nombre de entidad valido '
		        			}
		        		}
		        	}, 
		        	
		        	plantel : {
		        		validators : {
		        			plantel : {
		        				message : 'Verifica que sea un nombre de plantel valido '
		        			}
		        		}
		        	},
		        	
		        	cplantel : {
		        		validators : {
		        			cplantel : {
		        				message : 'Verifica que sea una clave valida, sin caracteres especiales '
		        			}
		        		}
		        	},
		        	
		        	ocupacion : {
		        		validators : {
		        			ocupacion : {
		        				message : 'Verifica que no contenga caracteres especiales '
		        			}
		        		}
		        	},
		        	
		        	nac : {
		        		validators :{
		        			fecha : {
		        				message : 'No se aceptan fechas futuras, revisa que sea una fecha valida'
		        			}
		        		}
		        	}
		        }
		    }).on('success.form.bv', function(eve) {
	            eve.preventDefault();
	            
	            var formData = new FormData();
	            formData.append('idProfesor', idu);
	            formData.append('aPaterno', $("#apellidopaterno").val());
	            formData.append('aMaterno', $("#apellidomaterno").val());
	            formData.append('nombres', $("#nombre").val());
	            formData.append('curp', $("#curp").val());
	            formData.append('rfc', $("#rfc").val());
	            formData.append('correo', cor);
	            formData.append('telefono', $("#tel").val());
	            formData.append('estado', $("#estado").val());
	            formData.append('cilo', $("#cilo").val());
	            formData.append('genero', $("#genero").val());
	            formData.append('plantel', $("#plantel").val());
	            formData.append('turno', $("#turno").val());
	            formData.append('cPlantel', $("#cplantel").val());
	            formData.append('grado', $("#grado").val());
	            formData.append('ocupacion', $("#ocupacion").val());
	            formData.append('fNacimiento', $("#nac").val());
	            
	            var cmb = document.getElementById("comprobante");

	            cmb.onchange = function() {
	                if(this.files[0].size > 10485760){
	                   alert("Maximo 10MB!");
	                   this.value = "";
	                };
	            };
	            
	            if( document.getElementById("comprobante").files.length != 0 ){
                    formData.append('comprobante', $("#comprobante")[0].files[0]); 
                }
	            
	            var rfcp = document.getElementById("rfcpdf");

	            rfcp.onchange = function() {
	                if(this.files[0].size > 10485760){
	                   alert("Maximo 10MB!");
	                   this.value = "";
	                };
	            };
                
                if( document.getElementById("rfcpdf").files.length != 0 ){
                    formData.append('rfc_docu', $("#rfcpdf")[0].files[0]); 
                }
                
	            var cpd = document.getElementById("curppdf");
	            
	            cpd.onchange = function() {
	                if(this.files[0].size > 10485760){
	                   alert("Maximo 10MB!");
	                   this.value = "";
	                };
	            };
                
                if( document.getElementById("curppdf").files.length != 0 ){
                    formData.append('curp_docu', $("#curppdf")[0].files[0]);  
                }
	            
					$.ajax({
						type : "POST",
						contentType : false,
						url : '/AdministracionModificaciones/editarprofesor',
						processData: false,
						data : formData,
						beforeSend : function() {
							// setting a timeout
							$("#mensaje").css("visibility","hidden")
							$('#spin').css("visibility","visible")
									
						},
						//dataType:'json',
						error : function(e) {
							$('#spin').css("visibility","hidden")
							var elem = $(document.createElement('h4'))
							               .attr('id','mensaje').html("Error: RFC de participante ya habia sido registrado");
							$('#mensaje').replaceWith(elem);
							$("#mensaje").css("color","red");
							$("#limpiar").css("visibility","hidden");
							$("#volver").css("visibility","hidden");
							$("#revisar").css("visibility","visible");
							$("#mensaje").css("visibility","visible");
						},
						success : function(respuesta) {
							if(respuesta == "Error: curp ya registrada"){
								console.log(respuesta)
								$('#spin').css("visibility","hidden")
								var elem = $(document.createElement('h4'))
								               .attr('id','mensaje').html(respuesta);
								$('#mensaje').replaceWith(elem);
								$("#mensaje").css("color","red");
								$("#limpiar").css("visibility","hidden");
								$("#volver").css("visibility","hidden");
								$("#revisar").css("visibility","visible");
								$("#mensaje").css("visibility","visible");
							} else {
								$('#spin').css("visibility","hidden")
								var elem = $(document.createElement('h4'))
								               .attr('id','mensaje').html(respuesta);
								$('#mensaje').replaceWith(elem);
								$("#mensaje").css("color","green");
								$("#revisar").css("visibility","hidden");
								$("#limpiar").css("visibility","visible");
								$("#volver").css("visibility","visible");
								$("#mensaje").css("visibility","visible");	
							}
						}
					});
	            
	            var $form     = $(eve.target),
	                validator = $form.data('bootstrapValidator');
	        });

			$("#limpiar").click(function(event) {
				location.reload();
			});


		});
	</script>
</body>
</html>