<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Modificar curso</title>

<!-- ================= Favicon ================== -->
<!-- Standard -->
<link rel="shortcut icon" href="js/favicon.ico">

<!-- Styles -->
<link href="/css/lib/select2/select2.min.css" rel="stylesheet">
<link href="/css/lib/font-awesome.min.css" rel="stylesheet">
<link href="/css/lib/themify-icons.css" rel="stylesheet">
<link href="/css/lib/menubar/sidebar.css" rel="stylesheet">
<link href="/css/lib/bootstrap.min.css" rel="stylesheet">
<link href="/css/lib/helper.css" rel="stylesheet">
<link href="/css/lib/toggle.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<style type="text/css">
#spin {
	visibility: hidden;
}
#mensaje {
	visibility: hidden;
}
</style>

</head>
<body>
	<div th:replace="/includes/head.html :: head_div1" />
	<div th:replace="/includes/head.html :: head_div2" />

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<div class="d-flex align-items-center" id="proceso">
							<h4 id="mensaje">algo</h4>
						<div id="spin">
							<strong>Haciendo los cambios respectivos... &nbsp;</strong>
							<div class="spinner-grow text-info" role="status"
								aria-hidden="true"></div>
						</div>
					</div>
				</div>
				<div class="modal-body">Selecciona una accion</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" id="limpiar">Hacer otro cambio</button>
					<button type="button" class="btn btn-primary"
						onclick="window.location.href ='/start'" id = "volver">Volver
						a inicio</button>
					<button type="button" class="btn btn-secondary"
					data-dismiss="modal" id="revisar">Revisar Formulario</button>
				</div>
			</div>
		</div>
	</div>

	<!--     Fin de modal                 -->




	<!-- START CONTENTS -->

	<!-- START CONTENTS -->
	<div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
	                                <h1>Modificar un curso</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-validation">
                                    
                                        <form class="form-valide" th:action="@{/AdministracionRegistroManual/registrarCursos}" method="POST"
                                        id= "registrarCur">
                                        
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="clave">Clave <span class="text-danger">*</span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" id="clave" name="clave" th:value="${curso.clave}" maxlength = "8">		
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="tipo">Selecciona un tipo <span class="text-danger"></span></label>
                                                <div class="col-lg-8">
                                                    <select class="form-control" id="tipo" name="tipo" style="width: 100%;">
                                                    	<option th:value="${curso.fk_id_tipo_curso.pk_id_tipo_curso}" th:text="${curso.fk_id_tipo_curso.nombre}">Tipo definido</option>
                                                    	<option value="6">Sin definir</option>
                                                        <option value="1">Curso</option>
                                                        <option value="2">Diplomado</option>
                                                        <option value="3">Especialidad</option>
                                                        <option value="4">Maestria</option>
                                                        <option value="5">Doctorado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="horas">Horas <span class="text-danger"></span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" id="horas" name="horas" th:value="${curso.horas}">
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="nombre">Nombre <span class="text-danger">*</span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" id="nombre" name="nombre" th:value="${curso.nombre}" maxlength = "150">
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
        										<div class="col-sm-5 col-sm-offset-3">
                                            		<button type="submit" class="btn btn-default"
                                            			data-toggle="modal" data-target="#exampleModal"> Realizar cambios</button>
                                            	</div>
    										</div>
                                    </form>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
<!-- END CONTENTS -->

	<!-- jquery vendor -->


	<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/jquery.nanoscroller.min.js"></script>
	<!-- nano scroller -->
	<script src="/js/lib/menubar/sidebar.js"></script>
	<script src="/js/lib/preloader/pace.min.js"></script>
	<!-- sidebar -->
	<!-- bootstrap -->
	<!-- Select2 -->
	<script src="/js/lib/select2/select2.full.min.js"></script>
	<!-- 	<script src="/js/lib/form-validation/jquery.validate-init.js"></script> -->
	<script src="/js/lib/bootstrap.min.js"></script>
	<script src="/js/scripts.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>

	<script th:inline="javascript">
$(document).ready(function() {
	
			let idu = [[${curso.pk_id_curso}]];
			
			$.fn.bootstrapValidator.validators.clave = {
			        validate: function(validator, $field, options) {
			            var value = $field.val();
		
			            if (value.search(/[A-Z][0-9][^#&<>""~;$^%{}°¬|?/*\(\)@!.,:¡¿=''_\+\-\\]{1,20}$/) < 0) {
			                return false;
			            }
			            return true;
			        }
			};
			
			$.fn.bootstrapValidator.validators.horas = {
			        validate: function(validator, $field, options) {
			            var value = $field.val();
						
			            if($('#horas').val().length > 0){
				            if (value.length > 4) {
				                return false;
				            }
			            }
		
			            return true;
			        }
			};
			
			$.fn.bootstrapValidator.validators.nombre = {
			        validate: function(validator, $field, options) {
			            var value = $field.val();
		
			            if (value.search(/[A-Z][a-zA-Z][^#&<>""~;$^%{}?/*]{1,20}$/) < 0) {
			                return false;
			            }
		
			            return true;
			        }
			};
		
			 $('#registrarCur').bootstrapValidator({
			        feedbackIcons: {
			            valid: 'glyphicon glyphicon-ok',
			            invalid: 'glyphicon glyphicon-remove',
			            validating: 'glyphicon glyphicon-refresh'
			        },
			        fields: {
			            clave: {
			                validators: {
			                    clave: {
			                        message: ' Verifica que el formato sea como el del ejemplo '
			                    }, 
			                    
			                    notEmpty: {
			                        message: ' No puede estar vacio '
			                    }
			                }
			            },
			        
			        	horas: {
			        		validators: {
			                    horas: {
			                        message: ' Verifica que sea un valor valido '
			                    }, 
			            
					            digits: {
			                        message: ' Utiliza solo numeros '
			                    }
			                }
			        	},
			        	
			        	nombre : {
			        		validators: {
			        			notEmpty: {
			                        message: ' El nombre no puede estar vacio '
			                    },
			                    
			                    nombre: {
			                    	message: ' Verifica que sea un nombre valido '
			                    }
			        		}
			        	},
			        	
			        	tipo : {
			        		validators : {
			        			notEmpty : {
			        				message : 'No puede ir vacio'
			        			}
			        		}
			        	}
			        }
			    }).on('success.form.bv', function(eve) {
		            eve.preventDefault();
					
		            let datos = {
							pk_id_curso : idu,
							clave : $("#clave").val(),
							fk_id_tipo_curso: {pk_id_tipo_curso: $("#tipo").val()},
							horas : $("#horas").val(),
							nombre : $("#nombre").val(),
						}
						$.ajax({
							type : "POST",
							contentType : "application/json",
							url : '/AdministracionModificaciones/editarcurso',
							data : JSON.stringify(datos),
							beforeSend : function() {
								// setting a timeout
								$("#mensaje").css("visibility","hidden")
								$('#spin').css("visibility","visible")
										
							},
							//dataType:'json',
							error : function() {
							$('#spin').css("visibility","hidden")
							var elem = $(document.createElement('h4'))
							               .attr('id','mensaje').html("Error : Clave de curso ya habia sido registrada");
							$('#mensaje').replaceWith(elem);
							$("#mensaje").css("color","red");
							$("#limpiar").css("visibility","hidden");
							$("#volver").css("visibility","hidden");
							$("#revisar").css("visibility","visible");
							$("#mensaje").css("visibility","visible");
						},
						success : function(respuesta, status) {
							$('#spin').css("visibility","hidden")
							var elem = $(document.createElement('h4'))
							               .attr('id','mensaje').html(respuesta);
							$('#mensaje').replaceWith(elem);
							$("#mensaje").css("color","green");
							$("#revisar").css("visibility","hidden");
							$("#limpiar").css("visibility","visible");
							$("#volver").css("visibility","visible");
							$("#mensaje").css("visibility","visible");
						}
						});
		            
		            var $form     = $(eve.target),
		                validator = $form.data('bootstrapValidator');
		        });
			 
			 $("#limpiar").click(function(event) {
					location.reload();
				});
		});
	</script>
</body>
</html>