<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Modificar Inscripcion</title>

<!-- ================= Favicon ================== -->
<!-- Standard -->
<link rel="shortcut icon" href="js/favicon.ico">

<!-- Styles -->
<link href="/css/lib/select2/select2.min.css" rel="stylesheet">
<link href="/css/lib/font-awesome.min.css" rel="stylesheet">
<link href="/css/lib/themify-icons.css" rel="stylesheet">
<link href="/css/lib/menubar/sidebar.css" rel="stylesheet">
<link href="/css/lib/bootstrap.min.css" rel="stylesheet">
<link href="/css/lib/helper.css" rel="stylesheet">
<link href="/css/lib/toggle.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<style type="text/css">
#spin {
	visibility: hidden;
}
#mensaje {
	visibility: hidden;
}
</style>

</head>
<body>
	<div th:replace="/includes/head.html :: head_div1" />
	<div th:replace="/includes/head.html :: head_div2" />

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<div class="d-flex align-items-center" id="proceso">
							<h4 id="mensaje">algo</h4>
						<div id="spin">
							<strong>Haciendo los cambios respectivos... &nbsp;</strong>
							<div class="spinner-grow text-info" role="status"
								aria-hidden="true"></div>
						</div>
					</div>
				</div>
				<div class="modal-body">Selecciona una accion</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" id="limpiar">Hacer otro cambio</button>
					<button type="button" class="btn btn-primary"
						onclick="window.location.href ='/start'" id = "volver">Volver
						a inicio</button>
					<button type="button" class="btn btn-secondary"
					data-dismiss="modal" id="revisar">Revisar Formulario</button>
				</div>
			</div>
		</div>
	</div>

	<!--     Fin de modal                 -->



<!-- START CONTENTS -->
	<div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
	                                <h1>Modificar una inscripcion</h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-validation">
                                    
                                        <form class="form-valide" th:action="@{/AdministracionRegistroManual/registrarInscripcion}" method="POST"
                                        id="registrarIns">
                                        
                                        	<div class="form-group row">
                                                <label class="col-lg-4 control-label" for="grupo">Clave del grupo <span class="text-danger">*</span></label>
                                                <div class="col-lg-8">
                                                    <select class="form-control" id="grupo" name="grupo" style="width: 100%;">
                                                    	<option th:value="${inscripcion.idGrupo}" th:text="${inscripcion.idGrupo}">Clave definida</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="par">RFC del participante <span class="text-danger">*</span></label>
                                                <div class="col-lg-8">
                                                    <select class="form-control" id="par" name="par" style="width: 100%;">
                                                    	<option th:value="${inscripcion.idProfesor}" th:text="${inscripcion.idProfesor}">RFC definido</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 control-label" for="cal">calificacion<span class="text-danger"></span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" id="cal" name="cal" th:value="${inscripcion.calificacion}" maxlength = "3">
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="ap">aprobado<span class="text-danger"></span></label>
                                                <div class="col-lg-8">
                                                      <input type="checkbox" name="ap" class="checkbox" th:checked = "${inscripcion.aprobado}"> Se aprobó el curso<br>
                                                </div>
                                            </div>
                                            
                                            
                                            <div class="form-group">
        										<div class="col-sm-5 col-sm-offset-3">
		                                           <button type="submit" class="btn btn-default"
		                                           data-toggle="modal" data-target="#exampleModal">Capturar</button>
                                             	</div>
    										</div>
                                    </form>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
<!-- END CONTENTS -->

	<!-- jquery vendor -->


	<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/jquery.nanoscroller.min.js"></script>
	<!-- nano scroller -->
	<script src="/js/lib/menubar/sidebar.js"></script>
	<script src="/js/lib/preloader/pace.min.js"></script>
	<!-- sidebar -->
	<!-- bootstrap -->
	<!-- Select2 -->
	<script src="/js/lib/select2/select2.full.min.js"></script>
	<!-- 	<script src="/js/lib/form-validation/jquery.validate-init.js"></script> -->
	<script src="/js/lib/bootstrap.min.js"></script>
	<script src="/js/scripts.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>

	<script th:inline="javascript">
	$(document).ready(function() {
			let idu = [[${inscripcion.identificador}]];
			
			var texto = [[${inscripcion.jsonG}]];
			
			var grupos = texto.split(",");
			
		    var select = document.getElementById( 'grupo' );

		    for( grupo in grupos ) {
		        select.add( new Option( grupos[grupo] ) );
		    };
		    
			var rfctext = [[${inscripcion.jsonP}]];
			
			var rfcs = rfctext.split(",");
			
			var nc = [[${inscripcion.jsonNombres}]];
			
			var ncs = nc.split(",");
			
		    var select2 = document.getElementById( 'par' );

		    i = 0;
		    for( rfc in rfcs ) {
		        select2.add( new Option(ncs[i] + " " + rfcs[rfc], rfcs[rfc] ) );
		        i = i + 1;
		    };

			
			$.fn.bootstrapValidator.validators.calif = {
			        validate: function(validator, $field, options) {
			            var value = $field.val();
			            
			            if(value > 100){
			            	return false;
			            }

			            return true;
			        }
			};
			
			$.fn.bootstrapValidator.validators.clave = {
			        validate: function(validator, $field, options) {
			            var value = $field.val();

			            if (value.search(/[A-Z][0-9][^#&<>""~;$^%{}°¬|?/*\(\)@!.,:¡¿=''_\+\-\\]{1,20}$/) < 0) {
			                return false;
			            }

			            return true;
			        }
			};
			
			$.fn.bootstrapValidator.validators.rfc = {
			        validate: function(validator, $field, options) {
			            var value = $field.val();

			            if (value.search(/^([A-Z\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1]))((-)?([A-Z\d]{3}))?$/) < 0) {
			                return false;
			            }

			            return true;
			        }
			};
			
			$('#registrarIns').bootstrapValidator({
		        feedbackIcons: {
		            valid: 'glyphicon glyphicon-ok',
		            invalid: 'glyphicon glyphicon-remove',
		            validating: 'glyphicon glyphicon-refresh'
		        },
		        fields: {
		            cal : {
		        		validators: {
		        			digits: {
		                        message: ' Utiliza solo numeros '
		                    },
		                    
		                    calif : {
		                    	message: ' Calificacion de 0 a 100 '
		                    }
		        	
		        		}
		        	},
		        	
		        	grupo: {
		                validators: {
		                    clave: {
		                        message: ' Verifica que el formato sea como el del ejemplo '
		                    }, 
		                    
		                    notEmpty: {
		                        message: ' No puede estar vacio '
		                    }
		                }
		            },
		            
		            par : {
		        		validators: {
		        			rfc: {
		                        message: ' Verifica que el rfc sea correcto '
		                    },
		        	
		                    notEmpty: {
		                        message: ' El rfc no puede estar vacio '
		                    }
		        	
		        		}
		        	}
		            
		        }
		    }).on('success.form.bv', function(eve) {
	            eve.preventDefault();
				
	            let datos = {
						identificador : idu,
						calificacion : $("#cal").val(),
						idGrupo:  $("#grupo").val(),
						idProfesor:  $("#par").val(),
						aprobado: $('input[type="checkbox"]').is(":checked")
					}
					$.ajax({
						type : "POST",
						contentType : "application/json",
						url : '/AdministracionModificaciones/editarinscripcion',
						data : JSON.stringify(datos),
						beforeSend : function() {
							// setting a timeout
							$("#mensaje").css("visibility","hidden")
							$('#spin').css("visibility","visible")
									
						},
						//dataType:'json',
						error : function(status) {
							$('#spin').css("visibility","hidden")
							var elem = $(document.createElement('h4'))
							               .attr('id','mensaje').html("Error : Revisa que sean correctas las claves de asesor y grupo");
							$('#mensaje').replaceWith(elem);
							$("#mensaje").css("color","red");
							$("#limpiar").css("visibility","hidden");
							$("#volver").css("visibility","hidden");
							$("#revisar").css("visibility","visible");
							$("#mensaje").css("visibility","visible");
						},
						success : function(respuesta, status) {
							if(respuesta == "Error : El participante ya habia sido registrado con este grupo"){
								$('#spin').css("visibility","hidden")
								var elem = $(document.createElement('h4'))
								               .attr('id','mensaje').html(respuesta);
								$('#mensaje').replaceWith(elem);
								$("#mensaje").css("color","red");
								$("#limpiar").css("visibility","hidden");
								$("#volver").css("visibility","hidden");
								$("#revisar").css("visibility","visible");
								$("#mensaje").css("visibility","visible");
							} else  {
								$('#spin').css("visibility","hidden")
								var elem = $(document.createElement('h4'))
								               .attr('id','mensaje').html(respuesta);
								$('#mensaje').replaceWith(elem);
								$("#mensaje").css("color","green");
								$("#revisar").css("visibility","hidden");
								$("#limpiar").css("visibility","visible");
								$("#volver").css("visibility","visible");
								$("#mensaje").css("visibility","visible");
							}
						}
					});

	            
	            var $form     = $(eve.target),
	                validator = $form.data('bootstrapValidator');
	        });
			
			$("#limpiar").click(function(event) {
				location.reload();
			});
		});
	</script>
</body>
</html>