<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Editar Perfil</title>

<!-- ================= Favicon ================== -->
<!-- Standard -->
<link rel="shortcut icon" href="js/favicon.ico">

<!-- Styles -->
<link href="/css/lib/select2/select2.min.css" rel="stylesheet">
<link href="/css/lib/font-awesome.min.css" rel="stylesheet">
<link href="/css/lib/themify-icons.css" rel="stylesheet">
<link href="/css/lib/menubar/sidebar.css" rel="stylesheet">
<link href="/css/lib/bootstrap.min.css" rel="stylesheet">
<link href="/css/lib/helper.css" rel="stylesheet">
<link href="/css/lib/toggle.css" rel="stylesheet">
<style type="text/css">
#spin {
	visibility: hidden;
}
#mensaje {
	visibility: hidden;
}
</style>

</head>
<body>
	<div th:replace="/includes/head.html :: head_div1" />
	<div th:replace="/includes/head.html :: head_div2" />

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<div class="d-flex align-items-center" id="proceso">
							<h4 id="mensaje">algo</h4>
						<div id="spin">
							<strong>Editando perfil... &nbsp;</strong>
							<div class="spinner-grow text-info" role="status"
								aria-hidden="true"></div>
						</div>
					</div>
				</div>
				<div class="modal-body">Selecciona una accion</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" id="limpiar">Hacer otro cambio</button>
					<button type="button" class="btn btn-primary"
						onclick="window.location.href ='/start'">Volver
						a inicio</button>
				</div>
			</div>
		</div>
	</div>

	<!--     Fin de modal                 -->




	<!-- START CONTENTS -->

	<div class="content-wrap">
		<div class="main">
			<div class="container-fluid">
				<div class="row">

					<!-- titulo -->
					<div class="col-lg-8 p-r-0 title-margin-right">
						<div class="page-header">
							<div class="page-title">
								<h1> Edita Perfil Usuario</h1>
							</div>
						</div>
					</div>

					<!-- 	bot0nes pestañas -->



					<!-- 					pestañas -->



						<!-- 							pestaña editar pefil -->

							<div class="row">
								<div class="col-lg-12">
									<div class="card">
										<div class="card-body">
											<div class="form-validation">

												<form class="form-valide"
													th:action="@{/AdministracionCursos/altaAdministrador}"
													method="GET" id="altausuario">

													<div class="form-group row">
														<label class="col-lg-4 col-form-label" for="rfc">RFC
															<span class="text-danger">*</span>
														</label>
														<div class="col-lg-8">
															<input type="text" class="form-control" id="rfc"
																name="rfc" th:value="${usuario.rfc}" required maxlength="13" style="text-transform: uppercase;">
														</div>
													</div>

													<div class="form-group row">
														<label class="col-lg-4 col-form-label" for="nombre">Nombre
															<span class="text-danger">*</span>
														</label>
														<div class="col-lg-8">
															<input type="text" class="form-control" id="nombre"
																name="nombre" th:value="${usuario.nombre}" required maxlength=200>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-lg-4 col-form-label"
															for="apellidopaterno">Apellido paterno <span
															class="text-danger">*</span>
														</label>
														<div class="col-lg-8">
															<input type="text" class="form-control"
																id="apellidopaterno" name="apellidopaterno"
																th:value="${usuario.apellido_paterno}" required maxlength=200>
														</div>
													</div>

													<div class="form-group row">
														<label class="col-lg-4 col-form-label"
															for="apellidomaterno">Apellido Materno <span
															class="text-danger">*</span>
														</label>
														<div class="col-lg-8">
															<input type="text" class="form-control"
																id="apellidomaterno" name="apellidomaterno"
																th:value="${usuario.apellido_materno}" required maxlength=200>
														</div>
													</div>

													<div class="form-group row">
														<label class="col-lg-4 col-form-label"> Tipo de
															usuario </label> <label class="radio-inline"> <input
															class="form-check-input" type="radio" name="perfil"
															id="uno" value="Consultas"> Consulta &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														</label> <label class="radio-inline"> <input
															class="form-check-input" type="radio" name="perfil"
															id="dos" value="Administrador"> Administrador
														</label>
													</div>

													<div class="form-group row">
														<label class="col-lg-4 col-form-label"
															for="apellidomaterno">Estatus<span
															class="text-danger">*</span>
														</label>
														<div class="col-lg-8">
															<label class="switch"> <input type="checkbox"
																name="estado" id="estado" checked> <span
																class="slider round"></span>
															</label>
														</div>
													</div>

													<p>

														<button class="btn btn-primary" type="button"
															data-toggle="collapse" data-target="#collapseExample"
															aria-expanded="false" aria-controls="collapseExample">
															Editar Correo</button>
														<span class="text-danger">*</span> Se enviara una
														confirmacion antes de que se vean los cambios realizados
														en la edicion del correo, para verificar que el correo se
														valido.
													</p>
													<div class="collapse" id="collapseExample">
														<div class="form-group row">
															<label class="col-lg-4 col-form-label" for="correo">Correo
															</label>
															<div class="col-lg-8">
																<input type="email" class="form-control" id="correo"
																	name="correo" th:value="${usuario.correo}">
															</div>
														</div>


													</div>
													<button type="submit" class="btn btn-info"
														data-toggle="modal" data-target="#exampleModal">
														Realizar Cambios</button>
												</form>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>






				</div>
				<!-- /# row -->
			</div>
		</div>
	</div>
	<!-- END CONTENTS -->

	<!-- jquery vendor -->


	<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/jquery.nanoscroller.min.js"></script>
	<!-- nano scroller -->
	<script src="/js/lib/menubar/sidebar.js"></script>
	<script src="/js/lib/preloader/pace.min.js"></script>
	<!-- sidebar -->
	<!-- bootstrap -->
	<!-- Select2 -->
	<script src="/js/lib/select2/select2.full.min.js"></script>
	<!-- 	<script src="/js/lib/form-validation/jquery.validate-init.js"></script> -->
	<script src="/js/lib/bootstrap.min.js"></script>
	<script src="/js/scripts.js"></script>


	<script th:inline="javascript">
$(document).ready(function() {

			let idu = [[${usuario.pk_id_usuario_sys}]];
			let rol = [[${usuario.fk_id_perfil_sys.nombre}]];
			let idEstado= [[${usuario.fk_id_estatus_usuario_sys.pk_estatus_usuario_sys}]];
			let estado = [[${usuario.fk_id_estatus_usuario_sys.nombre}]];
			console.log(rol);
			let id=0;
			if(rol=='Consultas'){					
				$("#uno").prop('checked', true);
				id=2;
			}else{
				$("#dos").prop('checked', true);
				id=1;
			}
			
			if(estado=='Activo'){
				$('#estado').prop('checked', true);
			}else{
				$('#estado').prop('checked', false);
			}


	

			//cambio de correo
			let cor=$("#correo").val();
			$("#correo").blur(function(){
			    cor=$("#correo").val();
			    
			});
			
			//cambio de perfil
            $("input[name='perfil']").change(function () {
                rol=this.value;
                id=(id%2)+1;
            });
			
			

			//cambio de estado

            $("#estado").change(function () {
                if (this.checked) {
                	estado="Activo";
                	idEstado=(idEstado%2)+1;
                	console.log(idEstado);
                	
                }else{
                	estado="Inactivo";
                	idEstado=(idEstado%2)+1;
                	console.log(idEstado);
                }
            });
			
			//envio de datos
			
			$("#altausuario").submit(function(eve) {
				eve.preventDefault();
				let datos = {
					pk_id_usuario_sys : idu,
					correo : cor,
					rfc : $("#rfc").val(),
					nombre : $("#nombre").val(),
					fk_id_perfil_sys: {nombre: rol, pk_id_perfil_sys: id},
					fk_id_estatus_usuario_sys:{nombre : estado, pk_estatus_usuario_sys : idEstado },
					apellido_paterno : $("#apellidopaterno").val(),
					apellido_materno : $("#apellidomaterno").val()
				}
				$.ajax({
					type : "POST",
					contentType : "application/json",
					url : '/AdministracionCursos/editarperfilusuario',
					data : JSON.stringify(datos),
					beforeSend : function() {
						// setting a timeout
						$("#mensaje").css("visibility","hidden")
						$('#spin').css("visibility","visible")
								
					},
					//dataType:'json',
					error : function(e) {
						$('#spin').css("visibility","hidden")
						var eleme = $(document.createElement('h4'))
			               .attr('id','mensaje').html("A ocurrido un error");
						$('#mensaje').replaceWith(eleme);
						$("#mensaje").css("visibility","visible")
					},
					success : function(respuesta) {
						$('#spin').css("visibility","hidden")
						var elem = $(document.createElement('h4'))
						               .attr('id','mensaje').html(respuesta);
						$('#mensaje').replaceWith(elem);
						$("#mensaje").css("visibility","visible")
					}
				});
			});



		});
	</script>
</body>
</html>