<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Sistema de Control Escolar para Cursos y Diplomados</title>
<link rel="stylesheet" href="css/style_login.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<style type="text/css">
a {
	color: rgb(164, 144, 112);
	font-size: 1.2em;
}

#error {
	color: #DC143C;
}

.btn-primary {
	background-color: rgb(164, 144, 112);
}

#spin {
	visibility: hidden;
}
#mensaje {
	visibility: hidden;
	

}

#logEnvia:hover{
	background-color: #87CEFA;
}



</style>
</head>
<body>






	<div class="body"></div>
	<div class="grad"></div>
	<div class="header">
		<div>
			Site<span>SICECD</span>
		</div>
	</div>
	<br>
	<form method="POST" th:action="@{/login}" class="login">
		<input type="text" placeholder="RFC" name="username" maxlength="13" style="text-transform: uppercase;" ><br>
		<input type="password" placeholder="Contraseña" name="password"><br>
		<input type="submit" value="Inicia sesion" id="logEnvia">
		<div id="error" th:if="${param.error}">Usuario o contraseña invalida.</div>
		<div th:if="${param.logout}">Has cerrado sesion exitosamente.</div>

		<a href="#" data-toggle="modal" data-target="#exampleModal"
			data-whatever="@mdo">Recupera tu contrase&ntilde;a</a>


	</form>

	<br>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<div class="d-flex align-items-center" id="proceso">
						<h4 id="opc">Ingresa tu RFC</h4>
							<h4 id="mensaje">algo</h4>
						<div id="spin">
							<strong>Consultando... &nbsp;</strong>
							<div class="spinner-grow text-warning" role="status"
								aria-hidden="true"></div>
						</div>
					</div>
				</div>
				<div class="modal-body">

					<form id="cambio">
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">RFC:</label> <input
								type="text" class="form-control" id="rfc" name="rfc" maxlength="13" style="text-transform: uppercase;"><br>
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary" id="envia" >Enviar</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>




<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>




	<script th:inline="javascript">
			/*<![CDATA[*/

				var message = [[${mensaje}]];
				if(message!="nohay"){					
					alert(message);
				}

					/*]]>*/
		</script>

	<script type="text/javascript">
    $("#cambio").validate({
        event: "blur", rules: { 'rfc': "required" },
        messages: { 'rfc': "Por favor ingrese el RFC" },
        errorElement: "label",
        submitHandler: function (form) {
						console.log("envia");
                let datos = {
                    rfc :  $("#rfc").val()

                };
                $.ajax({
                    type : "POST",
                    contentType : "application/json",
                    url : '/enviarecupera',
                    data : JSON.stringify(datos),
                    beforeSend : function() {
                        // setting a timeout
                        $("#mensaje").css("visibility","hidden")
                        $("#opc").css("visibility","hidden")
                        $('#spin').css("visibility","visible")
                                
                    },
                    //dataType:'json',
                    error : function(e) {
                        alert("Error");
                    },
                    success : function(
                            respuesta) {
                        $('#spin').css("visibility","hidden")
                        var elem = $(document.createElement('h4'))
                                       .attr('id','mensaje').html(respuesta);
                        $('#mensaje').replaceWith(elem);
                        $("#mensaje").css("visibility","visible");
                        //$('#envia').css("visibility","hidden")
                        
                    }
                });
        }
    });
		</script>

</body>
</html>