<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Sistema de Control Escolar para Cursos y Diplomados</title>

<!-- ================= Favicon ================== -->
<!-- Standard -->
<link rel="shortcut icon" href="img/favicon.ico">

<!-- Styles -->
<link href="/css/lib/font-awesome.min.css" rel="stylesheet">
<link href="/css/lib/themify-icons.css" rel="stylesheet">
<link href="/css/lib/data-table/buttons.bootstrap.min.css" rel="stylesheet" />
<link href="/css/lib/menubar/sidebar.css" rel="stylesheet">
<link href="/css/lib/bootstrap.min.css" rel="stylesheet">
<link href="/css/lib/helper.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
	<div th:replace="/includes/head.html :: head_div1" />
	<div th:replace="/includes/head.html :: head_div2" />

	<!-- START CONTENTS -->
	<div class="content-wrap">
		<div class="main">
			<div class="container-fluid">
				
				<!-- START MENSAJE -->
				<section id="main-content">
					<div class="row">
						<div class="col-lg-8">
							<div class="alert alert-danger">
								<strong th:text="${mensaje}">Error!</strong>
							</div>
						</div>
					</div>
					<div class="row">
						<div>
							<button class="btn-back" onClick="history.go(-1)">
								Realizar otra consulta
							</button>
						</div>
					</div>
				</section>
				<!-- END MENSAJE -->
				
				<!-- START DERECHOS -->
				<div class="row">
					<div class="col-lg-8">	
						<div class="footer">
							<p>2019 © SICCED</p>
						</div>
					</div>
				</div>
				<!-- END DERECHOS -->
				
			</div>
		</div>
	</div>
	<!-- END CONTENTS -->

	<!-- jquery vendor -->
	<script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="/js/lib/menubar/sidebar.js"></script>
    <script src="/js/lib/preloader/pace.min.js"></script>
</body>
</html>