<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Sistema de Control Escolar para Cursos y Diplomados</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="img/favicon.ico">
    
    <!-- Styles -->
    <link href="/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/css/lib/jsgrid/jsgrid-theme.min.css" rel="stylesheet" />
    <link href="/css/lib/jsgrid/jsgrid.min.css" type="text/css" rel="stylesheet" />
    <link href="/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/css/lib/helper.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div th:replace="/includes/head.html :: head_div1" />
<div th:replace="/includes/head.html :: head_div2" />

<!-- START CONTENTS -->
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Hello, <span>Welcome Here</span></h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Table-Jsgrid</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->
                <div id="main-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="jsgrid-table-panel">
                                    <div id="jsGrid"></div>
                                </div>
                            </div>
                            <!-- /# card -->
                        </div>
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>2018 © Admin Board. - <a href="#">example.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- END CONTENTS -->

    <!-- jquery vendor -->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="/js/lib/menubar/sidebar.js"></script>
    <script src="/js/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->
    
    <!-- bootstrap -->



    <!-- JS Grid Scripts Start-->
    <script src="/js/lib/jsgrid/db.js"></script>
    <script src="/js/lib/jsgrid/jsgrid.core.js"></script>
    <script src="/js/lib/jsgrid/jsgrid.load-indicator.js"></script>
    <script src="/js/lib/jsgrid/jsgrid.load-strategies.js"></script>
    <script src="/js/lib/jsgrid/jsgrid.sort-strategies.js"></script>
    <script src="/js/lib/jsgrid/jsgrid.field.js"></script>
    <script src="/js/lib/jsgrid/fields/jsgrid.field.text.js"></script>
    <script src="/js/lib/jsgrid/fields/jsgrid.field.number.js"></script>
    <script src="/js/lib/jsgrid/fields/jsgrid.field.select.js"></script>
    <script src="/js/lib/jsgrid/fields/jsgrid.field.checkbox.js"></script>
    <script src="/js/lib/jsgrid/fields/jsgrid.field.control.js"></script>
    <script src="/js/lib/jsgrid/jsgrid-init.js"></script>
    <!-- JS Grid Scripts End-->
    <script src="/js/lib/bootstrap.min.js"></script>
	<script src="/js/scripts.js"></script>
    <!-- scripit init-->
</body>
</html>