<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Sistema de Control Escolar para Cursos y Diplomados</title>

<!-- ================= Favicon ================== -->
<!-- Standard -->
<link rel="shortcut icon" href="img/favicon.ico">

<!-- Styles -->
<link href="css/lib/select2/select2.min.css" rel="stylesheet">
<link href="css/lib/font-awesome.min.css" rel="stylesheet">
<link href="css/lib/themify-icons.css" rel="stylesheet">
<link href="css/lib/menubar/sidebar.css" rel="stylesheet">
<link href="css/lib/bootstrap.min.css" rel="stylesheet">
<link href="css/lib/helper.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
</head>
<body>
	<div th:replace="/includes/head.html :: head_div1" />
	<div th:replace="/includes/head.html :: head_div2" />

	<!-- START CONTENTS -->
	<div class="content-wrap">
		<div class="main">
			<div class="container-fluid">
				<section id="main-content">
					
					<!-- START ROW -->
					<div class="row">
						
						<!-- START CONSULTAR CURSO POR NOMBRE -->
						<div class="col-lg-6">
							<div class="card">
								<div class="card-title"></div>
								<div class="card-body">
									<div class="basic-form">
										<form action="/consultaCursoNombre" method="post" target="_blank">
											<div class="form-group">
												<h4>Consultar por Nombre</h4>
												<label>Nombre</label>
													<input type="text" name="nombre_curso" class="form-control">
												<label>Fecha de Inicio</label>
													<input type="date" value="2019-12-29" class="form-control" name="fecha_inicio_curso">
												<label>Fecha de Término</label>
													<input type="date" value="2019-12-29" class="form-control" name="fecha_fin_curso">
											</div>
											<button type="submit" class="btn btn-default">Consultar</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- END CONSULTAR CURSO POR NOMBRE -->
						
						<!-- START CONSULTAR CURSO POR CLAVE -->
						<div class="col-lg-6">
							<div class="card">
								<div class="card-title"></div>
								<div class="card-body">
									<div class="basic-form">
										<form action="/consultaCursoClave" method="post" target="_blank">
											<div class="form-group">
												<h4>Consultar por Clave</h4>
												<label>Clave</label>
													<input type="text" name="clave_curso" class="form-control" text="0000">
												<label>Fecha de Inicio</label>
													<input type="date" value="2019-12-29" class="form-control" name="fecha_inicio_curso">
												<label>Fecha de Término</label>
													<input type="date" value="2019-12-29" class="form-control" name="fecha_fin_curso">
											</div>
											<button type="submit" class="btn btn-default">Consultar</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- END CONSULTAR CURSO POR CLAVE -->
						
						<!-- START CONSULTAR CURSO POR TIPO -->
						<div class="col-lg-6">
							<div class="card">
								<div class="card-title"></div>
								<div class="card-body">
									<div class="basic-form">
										<form action="/consultaCursoTipo" method="post" target="_blank">
											<div class="form-group">
												<h4>Consultar por Tipo de Curso</h4>
												<label>Tipo de Curso</label>
                                                    <select name="tipos" class="form-control" data-placeholder=" ">
                                                        <option value="1">Curso</option>
														<option value="2">Diplomado</option>
														<option value="3">Especialidad</option>
                                                    </select>
												<label>Fecha de Inicio</label>
													<input type="date" value="2019-12-29" class="form-control" name="fecha_inicio_curso">
												<label>Fecha de Término</label>
													<input type="date" value="2019-12-29" class="form-control" name="fecha_fin_curso">
											</div>
											<button type="submit" class="btn btn-default">Consultar</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- END CONSULTAR CURSO POR TIPO -->
						
						<!-- START CONSULTAR CURSO POR FECHA -->
						<div class="col-lg-6">
							<div class="card">
								<div class="card-title"></div>
								<div class="card-body">
									<div class="basic-form">
										<form action="/consultaCursoFecha" method="post" target="_blank">
											<div class="form-group">
												<h4>Consultar por Fecha</h4>
												<label>Fecha de Inicio</label>
													<input type="date" value="2019-12-29" class="form-control" name="fecha_inicio_curso">
												<label>Fecha de Término</label>
													<input type="date" value="2019-12-29" class="form-control" name="fecha_fin_curso">
											</div>
											<button type="submit" class="btn btn-default">Consultar</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- END CONSULTAR CURSO POR FECHA -->
						
					</div>
					<!-- END ROW -->
				</section>
				
				<!-- START DERECHOS -->
				<div class="row">
					<div class="col-lg-12">
						<div class="footer">
							<p>2018 © SICCED</p>
						</div>
					</div>
				</div>
				<!-- END DERECHOS -->
				
            </div>
        </div>
    </div>
	<!-- END CONTENTS -->

	<!-- jquery vendor -->
	<script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/jquery.nanoscroller.min.js"></script>
	<!-- nano scroller -->
	<script src="js/lib/menubar/sidebar.js"></script>
	<script src="js/lib/preloader/pace.min.js"></script>
	<!-- sidebar -->
	<!-- bootstrap -->
	<script src="js/lib/bootstrap.min.js"></script>
	<script src="js/scripts.js"></script>
</body>
</html>