<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Sistema de Control Escolar para Cursos y Diplomados</title>

<!-- ================= Favicon ================== -->
<!-- Standard -->
<link rel="shortcut icon" href="img/favicon.ico">

<!-- Styles -->
<link href="css/lib/select2/select2.min.css" rel="stylesheet">
<link href="css/lib/font-awesome.min.css" rel="stylesheet">
<link href="css/lib/themify-icons.css" rel="stylesheet">
<link href="css/lib/menubar/sidebar.css" rel="stylesheet">
<link href="css/lib/bootstrap.min.css" rel="stylesheet">
<link href="css/lib/helper.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/query_style.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
	<div th:replace="/includes/head.html :: head_div1" />
	<div th:replace="/includes/head.html :: head_div2" />

	<!-- START CONTENTS -->
	<div class="content-wrap">
		<div class="main">
			<div class="container-fluid">
				<section id="main-content">
				
					<!-- START CONSULTA DE CURSOS -->
					<div class="container">
          				<div id="consulta" class="col-lg-6">
							<div class="card">
								<div class="card-body">
									<div class="basic-form">
										<form action="/consultaCurso" method="post">
											<div class="form-group">
												<h4>Consulta de Cursos</h4>
												<label>Nombre</label>
													<input type="text" name="nombre_curso" class="form-control">
												<label>Clave</label>
													<input type="text" name="clave_curso" class="form-control">
												<label>Tipo de Curso</label>
													<select name="tipos_cursos" class="form-control">
														<option value="0">Sin definir</option>
														<option value="1">Curso</option>
														<option value="2">Diplomado</option>
														<option value="3">Especialidad</option>
														<option value="4">Maestría</option>
														<option value="5">Doctorado</option>
													</select>
											</div>
											<div>
												<button id="btn-limpiar" type="reset" class="btn btn-default">Limpiar Búsqueda</button>
												<button id="btn-consultar" type="submit" class="btn btn-default">Consultar</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END CONSULTA DE CURSOS -->
					
					<!-- START DERECHOS -->
					<div class="row">
						<div class="col-lg-12">
							<div class="footer">
								<p>2019 © SICCED</p>
							</div>
						</div>
					</div>
					<!-- END DERECHOS -->
				</section>
				
            </div>
        </div>
    </div>
	<!-- END CONTENTS -->

	<!-- jquery vendor -->
	<script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/jquery.nanoscroller.min.js"></script>
	<!-- nano scroller -->
	<script src="js/lib/menubar/sidebar.js"></script>
	<script src="js/lib/preloader/pace.min.js"></script>
	<!-- sidebar -->
	<!-- bootstrap -->
	<script src="js/lib/bootstrap.min.js"></script>
	<script src="js/scripts.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/js/reports/query-functions.js"></script>
</body>
</html>