<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>SICCED - Profesores</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="img/favicon.ico">
    
    <!-- Styles -->
    <link href="/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/css/lib/data-table/buttons.bootstrap.min.css" rel="stylesheet" />
    <link href="/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/css/lib/helper.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
    
    <script>
    	$(document).ready(function(){
    		
    		$(".id_profesor").hide();
    		
    		$(".prof_option").click(function(){
    			var valores="";
    			
    			$(this).parents("tr").find("#id_profesor").each(function(){
                    valores+=$(this).html()+"\n";
                });
    			
    			console.log(valores);
    		});
    	});
    </script>
</head>

<body>
<div th:replace="/includes/head.html :: head_div1" />
<div th:replace="/includes/head.html :: head_div2" />

<!-- START CONTENTS -->
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row"></div>
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="bootstrap-data-table-panel">
                                    <div class="table-responsive">
                                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                	<th class="id_profesor">ID</th>
                                                    <th>Nombre</th>
                                                    <th>Apellido Paterno</th>
                                                    <th>Correo</th>
                                                    <th>RFC</th>
                                                    <th>Grado de Estudios</th>
                                                    <th>Estado</th>
                                                    <th>Número de Inscripciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-th-each="profesor : ${profesores}">
                                                	<td id="id_profesor" class="id_profesor">
                                                		<a th:text="${profesor.pk_id_profesor}">ID</a>
                                                	</td>
                                                	<td class="prof_option">
                                                		<a th:text="${profesor.nombre}" th:href="@{/ficha_profesor/{type}(type=${profesor.pk_id_profesor})}">Nombre</a>
                                                	</td>
                                                	<td class="prof_option">
                                                		<a th:text="${profesor.apellido_paterno}">Apellido Paterno</a>
                                                	</td>
                                                	<td class="prof_option">
                                                		<a th:text="${profesor.correo}">Correo</a>
                                                	</td>
                                                	<td class="prof_option">
                                                		<a th:text="${profesor.rfc}">RFC</a>
                                                	</td>
                                                	<td>
                                                		<a th:text="${profesor.fk_id_grado_profesor.nombre}">Grado de Estudios</a>
                                                	</td>
                                                	<td>
                                                		<a th:text="${profesor.fk_id_estado.nombre}">Estado de la República</a>
                                                	</td>
                                                	<td>
                                                		<a th:text="${profesor.inscripciones.size()}">Inscripciones</a>
                                                	</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /# card -->
                        </div>
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->
                </section>
                
                <!-- START DERECHOS -->
				<div class="row">
					<div class="col-lg-12">
						<div class="footer">
							<p>2018 © SICCED</p>
						</div>
					</div>
				</div>
				<!-- END DERECHOS -->
				
            </div>
        </div>
    </div>
<!-- END CONTENTS -->

    <!-- jquery vendor -->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="/js/lib/menubar/sidebar.js"></script>
    <script src="/js/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->
    
    <!-- bootstrap -->

    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
    <!-- scripit init-->
    <script src="/js/lib/data-table/datatables.min.js"></script>
    <script src="/js/lib/data-table/buttons.dataTables.min.js"></script>
    <script src="/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="/js/lib/data-table/buttons.flash.min.js"></script>
    <script src="/js/lib/data-table/jszip.min.js"></script>
    <script src="/js/lib/data-table/pdfmake.min.js"></script>
    <script src="/js/lib/data-table/vfs_fonts.js"></script>
    <script src="/js/lib/reports/export-buttons.js"></script>
    <script src="/js/lib/data-table/buttons.print.min.js"></script>
    <script src="/js/lib/data-table/datatables-init.js"></script>
</body>
</html>
